<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Counter mind oblivion aka Comindivion">
    <meta name="author" content="Ivan Zabrovskiy">

    <title>Comindivion</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <header class="header">
    <nav role="navigation">
      <ul class="nav nav-pills pull-right">
        <%= if @current_user do %>
          <input type="hidden" name="user_id" value="<%= @current_user.id %>" id="current-user-id">
          <input type="hidden" name="user_token" value="<%= @current_user_token %>" id="current-user-token">
          <li><%= link @current_user.email, to: user_path(@conn, :show, @current_user) %></li>
          <li>
            <%= link "Sign out", to: session_path(@conn, :delete,
                                                  @current_user),
                                 method: "delete" %>
          </li>
        <% else %>
          <li><%= link "Register", to: user_path(@conn, :new) %></li>
          <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
        <% end %>
      </ul>
    </nav>
    <span class="logo"></span>
  </header>

  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

  <footer>
    <%= if Application.fetch_env!(:comindivion, :ga_identifier) |> String.length > 0 do %>
      <!-- Google Analytics -->
      <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '<%= Application.fetch_env!(:comindivion, :ga_identifier) %>', 'auto');
      ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <!-- End Google Analytics -->
    <% end %>
  </footer>
</html>
