<h2>Edit subject object relation</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_object_relation_path(@conn, :update, @subject_object_relation),
                        mind_objects_for_select: @mind_objects_for_select,
                        predicates_for_select: @predicates_for_select %>

<%= link "Back", to: subject_object_relation_path(@conn, :index) %>
