#interactive {
  width: 1080px;
  height: 720px;
  border: dotted;
}

#readonly-mind-object-container, #editable-mind-object-container {
  margin-bottom: 2em;
}

.flex-row {
  display: flex;
}

.flex-row .flex-interactive-column {
  flex: 70%
}

.flex-row .flex-input-column {
  flex: 30%
}

.flex-row .flex-input-column h2 {
  margin-top: 0;
}

#readonly-mind-object {
  display: flex;
  flex-direction: column;
}

#readonly-mind-object .readonly-row {
  display: flex;
  flex-direction: row;
}

#readonly-mind-object .readonly-row .readonly-label {
  flex: 0 0 7em;
}

#readonly-mind-object .readonly-row .readonly-value {
  flex: 1 1 23em;
}

#readonly-mind-object .readonly-row .mind-object-uri-value .href-part a::before {
  content: "⛶";
}

#readonly-mind-object .readonly-row .mind-object-uri-value .text-part a::after {
  content: "\00a0";
}