.about-project {
  max-width: 80em;
}

.example-network {
  max-width: 80em;
}

.no-predicates-warning {
  color: red;
}

#interactive {
  width: 1080px;
  height: 720px;
  border: dotted;
}

#readonly-mind-object-container, #editable-mind-object-container {
  margin-bottom: 2em;
}

.flex-row {
  display: flex;
}

.flex-row .flex-interactive-column {
  flex: 70%
}

.flex-row .flex-input-column {
  flex: 30%
}

.flex-row .flex-input-column h2 {
  margin-top: 0;
}

#readonly-mind-object {
  display: flex;
  flex-direction: column;
}

#readonly-mind-object .readonly-row {
  display: flex;
  flex-direction: row;
}

#readonly-mind-object .readonly-row .readonly-label {
  flex: 0 0 7em;
}

#readonly-mind-object .readonly-row .readonly-value {
  flex: 1 1 23em;
}

#readonly-mind-object .readonly-row .mind-object-uri-value .href-part a::before {
  content: "\1F517";
}

#readonly-mind-object .readonly-row .mind-object-uri-value .text-part a::after {
  content: "\00a0";
}

.interactive-flex-content {
  display: flex;
  flex-direction: column;
}
.interactive-flex-content .flex-row {
  display: flex;
  flex-direction: row;
}

.interactive-flex-content .flex-row .flex-label {
  flex: 0 0 7em;
}

.interactive-flex-content .flex-row .flex-value {
  flex: 1 1 23em;
}

.interactive-flex-content .flex-controllers-container {
  margin-top: 1em;
}

#search-container .search-result-container {
  display: flex;
  flex-direction: column;
  width: 45em;
}

.search-result-container .search-result-row {
  display: flex;
  flex-direction: row;
}

.search-result-container .search-result-row:hover {
  background-color: #b3d9ff;
}

.search-result-container .search-result-row .search-result-title {
  flex: 1 1 10em;
}

.search-result-container .search-result-row .search-result-link {
  flex: 0 0 2em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-content {
  visibility: hidden;
  position: absolute;
  width: 25em;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-content .tooltip-text {
  font-size: 12pt;
}

/* Tooltip arrow */
.tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: 0.5em;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.tooltip-right {
  top: -5px;
  left: 125%;
}

.circle-for-symbol {
  display: block;
  height: 1em;
  width: 1em;
  line-height: 1em;

  border-radius: 50%;

  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.75em;
}